.container {
    width: 95%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }
.todos {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 47.5%;
    padding: 15px;
    background-color: rgb(50, 195, 205);
}
.todos ul{
    padding: 0;
}

.todos__heading {
    font-size: 30px;
    /* text-align: center; */
    color: white;
}
.remove {
    background-color: rgb(235, 103, 80);
}
.dragactive {
    background-color: rgb(0, 221, 236);
}
  
.dragcomplete {
    background-color: rgb(255, 38, 0);
}